.nav-bar {
    border-bottom: 10px solid rgb(231, 225, 225);
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
}

.navbar-logo{
    width:230px;
    height: auto;
    align-content: center;
}

.navbar-links {
    margin: 0;
    padding: 0;
}

.navbar-links-item{
    margin: 0;
    padding: 10px;
    display: inline-block;
}